.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: black;
}

.app-title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 2rem;
}
