@import "../../../assets/styles/variables.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 6em;
  height: 6em;
  margin-bottom: 1rem;
}

.title {
  font-family: $primary-font-family;
  margin-bottom: 0.5rem;
}

.sub-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-input {
  background: transparent;
  border: 1px solid $primary-color;
  margin-bottom: 1rem;
  padding: 1rem;
  color: $primary-color;
  border-radius: 0.75rem;
}

.form-input::placeholder {
  color: $primary-color;
}

.form-submit {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sign-up-text {
  margin-bottom: 1rem;
}

.sign-up-link {
  margin-left: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}
