@import "../../../../assets/styles/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.city-name {
  font-family: $primary-font-family;
  font-size: 2rem;
  color: $primary-color;
}

.map-marker-icon {
  height: 4rem;
  color: $primary-color;
  margin-bottom: 1rem;
}
