@import "../../../assets/styles/variables.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 6em;
  height: 6em;
  margin-bottom: 1rem;
}

.title {
  font-family: $primary-font-family;
  margin-bottom: 0.5rem;
  color: $primary-color;
}

.sub-title {
  font-family: $secondary-font-family;
  color: $primary-color;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.btn-get-started {
  height: 3rem;
  font-size: 1rem;
  width: 80%;
  background-color: $primary-color;
  font-family: $secondary-font-family;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.sign-in-text {
  color: $primary-color;
  font-family: $secondary-font-family;
}

.sign-in-link {
  margin-left: 0.5rem;
  color: $primary-color;
  font-family: $secondary-font-family;
  text-decoration: none;
}
