:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-main {
  flex: 1;
  overflow-y: scroll;
  margin: 0 1.5rem;
}

.home-main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
