//@import "../../../../assets/styles/variables.scss";

@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-color: #ada82b;

$primary-font-family: "Black Han Sans", sans-serif;
$secondary-font-family: "Roboto", sans-serif;
